# RPCs
SEPOLIA_RPC_URL=https://
OPT_SEPOLIA_RPC_URL=https://
ARB_SEPOLIA_RPC_URL=https://
BASE_SEPOLIA_RPC_URL=https://
OPT_RPC_URL=https://
MANTLE_SEPOLIA_RPC_URL=https://

# Scan APIs
ETHERSCAN_API_KEY=
OPT_ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
POLYGONSCAN_API_KEY=

# Addresses = 7Cedars.eth 
DEV2_ADDRESS=0x0

PRIMARY_LAYER=0x0
DIGITAL_LAYER=0x0
IDEAS_LAYER=0x0
CONVERGENCE_LAYER=0x0
SAFE_TREASURY=0x0
PAYMASTER=0x0

NONCE=1234
PRIVATE_KEYS="[]"
IDEAS_NAMES='["Seeing", "Making", "Listening", "Telling"]'
IDEAS_LAYERS="0x0 0x0"

IDEAS_URI=""

TEST_ACCOUNT_KEY_1=